<?xml version="1.0"?>
<config>
	<application>
		<framerate_cap>60</framerate_cap>
		<product name="Dungeon Brawler" />
		<organization>Angry Frogs</organization>
	</application>
	<window>
		<resolution width="1280" height="720"/>
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
		<title>Dungeon Brawler</title>
	</window>
	<filesystem>
	</filesystem>
        <fonts>
		<default path = "fonts/VCR_OSD_MONO_1.001.ttf"/>
		<large_font size = "40"/>
    		<medium_font size = "30"/>
    		<small_font size = "15"/>
	</fonts>
	<gui>
		<atlas file="gui/ui_placeholder.png"/>
		<idle x="0" y="0" width="228" height="63"/>
		<focused x="0" y="150" width="228" height="63"/>
		<bar x="0" y="224" width="228" height="63"/>		
	</gui>
	<input>
		<buffer window="1000"/>
		<axis tolerance="0.2"/>
	</input>
	<audio>
		<flags flac="true" mod="false" mp3="true" ogg="true" />
		<sfx chunksize="1024" channels="16" />
	</audio>
</config>
